.planetary-command-wrapper {
    grid-area: planet-area;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url("../../assets/background.png");
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    border-image-source: url("../../assets/dialogue-border2.svg");
    border-image-slice: 8;
    border-image-width: 35px;
}

.planet-img {
    transform: translateX(-20vw);
    height: max-content;
}

.active-planet {
    animation: planetary-motion 100s linear infinite;
}

@keyframes planetary-motion {
    0% {
        transform: translateX(-20vw);
    }
    100% {
        transform: translateX(70vw);
    }
    
}