
.timer-wrapper {
    grid-area: timer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.timer-button-wrapper {
    display: flex;
    flex-direction: column;
}

.timer-button-wrapper button {
    max-width: fit-content;
}

.timer-wrapper p {
    font-size: 50px;
}