
.timer-wrapper {
    grid-area: timer;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    background-image: url("../../assets/dialogue-box.png");
    background-size: cover;
    border-image-source: url("../../assets/dialogue-border2.svg");
    border-image-slice: 8;
    border-image-width: 35px;
}

.timer-button-wrapper {
    display: flex;
    /* flex-direction: column; */
}

.timer-label {
    font-family: "Micro 5", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
/* .timer-button-wrapper button {
    font-family: "Micro 5", sans-serif;
    font-size: 25px;
    max-width: fit-content;
    font-weight: 400;
    font-style: normal;
} */

.timer-counter {
    font-size: 130px;
    line-height: 20px;
    margin: 0;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .timer-button-wrapper >.customBtn {
    background-color: rgba(255, 250, 240, 0);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
    border-radius: 0;
    width: 190px;
    aspect-ratio: 1.5/1;
    border: none;
} */

.shortBtn {
    background-image: url("../../assets/5minbtn.svg");
}
.mediumBtn {
    background-image: url("../../assets/15minbtn.svg");
}
.longBtn {
    background-image: url("../../assets/25minbtn.svg");
}

@media screen and (max-width: 1025px) {
    .timer-counter {
        font-size: 80px;
    }

    .timer-button-wrapper > .customBtn {
        width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .timer-counter {
        font-size: 80px;
    }

    .timer-button-wrapper > .customBtn {
        width: 90px;
    }
}

@media screen and (max-height: 780px) {
    .timer-counter {
        font-size: 75px;
    }
}