
.hidden {
    display: none;
}

.video-index-wrapper {
    grid-area: video-index;
    height: 100%;
    overflow-y: scroll;
    /* align-items: start; */
    /* align-self: start; */
}

.video-index-container {
    overflow: scroll;
    /* max-height: 100%; */
}

.video-index-item {
    border: 1px solid #50595e;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #76848b;
    list-style: none;
    text-align: start;
    cursor: pointer;
}