

.vid-control-wrapper {
  grid-area: video-controls;
  display: grid;
  grid-column: 1/2;
  grid-row: 3;
  grid-template-columns: subgrid;
  grid-template-rows: 1fr;
  /* margin-top: 2rem; */
  /* padding: 0 3rem; */
  display: flex;
  align-items: start;
  justify-content: start;
  height: 100%;

  /* max-height: 100px; */
}

.video-player-wrapper  {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  align-items: start;
  padding : 2rem 2rem;
  /* border: 8px solid transparent; */
  background-image: url("../../assets/dialogue-box.png");
  border-image-source: url("../../assets/dialogue-border2.svg");
  border-image-slice: 8;
  border-image-width: 35px;
}

.video-player {
    display: none;
  }
  
.video-title {
  font-size: 20px;
  color: #f3f3f3;
  /* border: 2px solid red; */
}

.controls-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin-bottom: 500px; */
}

/* .customBtn {
  background-color: rgba(255, 250, 240, 0);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0;
  width: 130px;
  aspect-ratio: 1.5/1;
  border: none;
  background-size: auto 100%;
} */

.playBtn {
  background-image: url("../../assets/play-btn-small.svg");
}

.nextBtn {
  background-image: url("../../assets/next-btn.svg");
}

.prevBtn {
  background-image: url("../../assets/back-btn.svg");
}

.playBtn.playing {
  background-image: url("../../assets/play-btn-small.svg");
  background-position: 100% 0;
}

.nextBtn:hover, .prevBtn:hover, .playBtn:hover {
  background-position: 100% 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Test Slider Styling */

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  cursor: pointer;
}



input[type="range"]:focus {
  outline: none;
}

/* Webkit Range Styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 30px;
  background: url("../../assets/range-slider.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: url("../../assets/range-bar.svg");
  /* aspect-ratio: 2.4/1; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  height: 100%;
  width: 100%;

}

/* Firefox Range Styling */
input[type="range"]::-moz-range-thumb {
  width: 60px;
  height: 30px;
  background-color: red;
  background: url("../../assets/range-slider.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  
}

input[type="range"]::-moz-range-track {
  background: url("../../assets/range-bar.svg");
  aspect-ratio: 2.4/1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  height: 100%;
  width: 100%;

}


@media screen and (max-width: 900px) {

  .video-player-wrapper {
    padding: 0.75rem;
    align-items: center;
  }

  .controls-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .controls-container > input {
    margin-top: 1rem;
  }

  .video-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .customBtn {
    width: 90px;
  }
}

/* input[type="range"]::-webkit-slider-runnable-track {
  background: url("../../assets/range-bar.svg");
  height: 0.5rem;
  border-radius: 0.5rem;
} */

/* input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: red;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000;
  border-radius: 1.3px;
  border: 0.2px solid #367ebd;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #367ebd;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid red;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type="range"]::-moz-range-progress {
  background-color: #367ebd; 
} */


