
.hidden {
    display: none;
}

.video-index-wrapper {
    grid-area: video-index;
    display: grid;
    grid-template-rows: 1fr auto;
    
    height: 100%;
    max-width: 100%;
    overflow-y: hidden;
    padding: 2rem;
    scrollbar-color: #9ad1f9 #9badb7;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    background-image: url("../../assets/dialogue-box-tall.png");
    background-size: contain;
    border-image-source: url("../../assets/dialogue-border2.svg");
    border-image-slice: 8;
    border-image-width: 35px;
}


.index-toggle {
  background-color: rgba(255, 250, 240, 0);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0;
  /* width: 96%; */
  aspect-ratio: 3/1;
  border: none;
  background-size: auto 100%;
  background-image: url("../../assets/index-btn-longer.svg");
}

.index-toggle:hover,
.index-toggle.active {
  background-position: 100% 0;
}

.video-index-wrapper-inner {
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-color: #378dae transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}



.video-index-container {
    padding: 0;
    margin-top: 0px;
    border-radius: 5px;
}

.video-index-item {
    border: 1px solid #50595e;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 10px 0;
    margin-top: 0px;
    background-color: #76848b;
    list-style: none;
    text-align: start;
    cursor: pointer;
    /* height: 100%; */
    
}



/* Playing with a text scrolling animation */

.video-idx-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1025px) {
  .video-idx-title {
    margin: 5px 0;
  }
}

@media screen and (max-width: 900px) {

  .video-index-wrapper {
    padding: 0.75rem;
  }

  .video-index-container {
    display: flex;
    flex-direction: column;
  }

  .index-toggle {
    width: 30%;
    display: none;
  }

  .video-idx-title {
    margin: 0.5rem;
  }

  .video-index-wrapper-inner {
    overflow-y: scroll;
  }


}


/* .video-idx-title:not(:hover) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-idx-title:hover {
    display: inline-block;
    white-space: nowrap;
      animation-name: scroll-text;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
}

@keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    90% {
      transform: translateX(-100%);
    }
    95% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
} */

