@import "./reset.css";

.background {
    background: url('../images/background.png');
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 2fr;
}

.timer-container {
    background-color: red;
    grid-column: 4;
    grid-row: 1 / 3;
}

