* {
  box-sizing: border-box;
  border-image-outset: 8px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.app-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-areas: 
    "planet-area timer"
    "planet-area video-index"
    "video-controls video-index";
  gap: 2rem;
  background-color: #000;
}

.customBtn {
  background-color: rgba(255, 250, 240, 0);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0;
  max-width: 130px;
  aspect-ratio: 1.5/1;
  border: none;
  background-size: auto 100%;
}


@media screen and (max-width: 1025px) {
  .app-wrapper {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .app-wrapper {
    padding: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "planet-area"
      "timer"
      "video-controls"
      "video-index"
    ;
  }
  
}