* {
  box-sizing: border-box;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.app-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
    "planet-area tracklist"
    "video-player timer"
  ;
}